<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>历史数据</title>
		<link rel="stylesheet" type="text/css" href="css/weui.css" />
		<link rel="stylesheet" href="css/jquery-weui.css" />
		<link rel="stylesheet" type="text/css" href="css/example.css" />
		<link rel="stylesheet" href="css/zijin_teacher.css" />
	</head>

	<body>
		<div class="weui_cells weui_cells_form zijin_cells_form">
			<div class="weui_cell">
				<div class="weui_cell_hd zijin_current">时间 : 2016-03<label class="weui_label"><i class="current">过往</i></label></div>

			</div>
		</div>
		<div class="zijin_clelrt_boxs">
			<div class="weui_cells">
				<div class="weui_cell_hd zijin_weui_cell_hd">
					<ul class="zijin_ul">
						<li class="solving">
							<p>解题量</p>
							<em>237</em>
						    <i></i>
						</li>
						<li class="adoption">
							<p>采纳量</p>
							<em>45</em>
							<i></i>
						</li>
						<li class="unsolved">
							<p>未解决</p>
							<em>34</em>
						</li>
					</ul>
				</div>

			</div>
			<div class="zijin_weui_tab">
				<div class="weui_navbar">
					<a class="weui_navbar_item weui_bar_item_on">
					全部
				    </a>
					<a href="complaint.html" class="weui_navbar_item">
					投诉
				    </a>
					<a class="weui_navbar_item">
					未解决
				    </a>
					<a class="weui_navbar_item">
					采纳
				</a>
				</div>
				<div class="weui_tab_bd">
				</div>
				<div class="zijin_cl">
				<div class="zijin_clelrt_box">
					<div class="weui_cells weui_cells_access zijin_clelrt">
						<a href="title_details.html">
							<div class="weui_cell">
								<div class="weui_cell_hd"><img src="images/touxiang.png" alt=""></div>
								<div class="weui_cell_bd weui_cell_primary">
									<p class="user_name">学生姓名</p>
									<p class="time">2016.03.30 19:00</p>
								</div>
								<div class="weui_cell_biaoti">六年级 数学</div>
								<div class="weui_cell_caina">采纳</div>
							</div>
							<!-- <div class="topic">
								<img src="images/tili.png" alt="" />
							</div> -->
							<div class="topic_tree">
				            <ul>
				                <li>
				                    <div class="item" style="background-image: url(images/tili.png);"> 
				                    </div>
				                </li>
				                <li>
				                    <div class="item" style="background-image: url(images/tili.png);"> 
				                    </div>
				                </li>
				                <li>
				                    <div class="item" style="background-image: url(images/tili.png);">
				                    </div>
				                </li>
				            </ul>
				        </div>
						</a>
					</div>
					<div class="weui_cells weui_cells_access zijin_clelrt">
						<a href="title_details.html">
							<div class="weui_cell">
								<div class="weui_cell_hd"><img src="images/touxiang.png" alt=""></div>
								<div class="weui_cell_bd weui_cell_primary">
									<p class="user_name">学生姓名</p>
									<p class="time">2016.03.30 19:00</p>
								</div>
								<div class="weui_cell_biaoti_homework">六年级 数学</div>
								<div class="weui_cell_weijiejue">未解决</div>

							</div>
							<!-- <div class="topic">
								<img src="images/tili.png" alt="" />
							</div> -->
							<div class="topic_tree">
							            <ul>
							                <li>
							                    <div class="item" style="background-image: url(images/tili.png);"> 
							                    </div>
							                </li>
							                <li>
							                    <div class="item" style="background-image: url(images/tili.png);"> 
							                    </div>
							                </li>
							                <li>
							                    <div class="item" style="background-image: url(images/tili.png);">
							                    </div>
							                </li>
							            </ul>
							        </div>
						</a>
					</div>
					<div class="weui_cells weui_cells_access zijin_clelrt">
						<a href="title_details.html">
							<div class="weui_cell">
								<div class="weui_cell_hd"><img src="images/touxiang.png" alt=""></div>
								<div class="weui_cell_bd weui_cell_primary">
									<p class="user_name">学生姓名</p>
									<p class="time">2016.03.30 19:00</p>
								</div>
								<div class="weui_cell_biaoti_homework">六年级 数学</div>
								<div class="weui_cell_daanbudui">答案不对</div>

							</div>
							<!-- <div class="topic">
								<img src="images/tili.png" alt="" />
							</div> -->
							<div class="topic_tree">
							            <ul>
							                <li>
							                    <div class="item" style="background-image: url(images/tili.png);"> 
							                    </div>
							                </li>
							                <li>
							                    <div class="item" style="background-image: url(images/tili.png);"> 
							                    </div>
							                </li>
							                <li>
							                    <div class="item" style="background-image: url(images/tili.png);">
							                    </div>
							                </li>
							            </ul>
							        </div>
						</a>
					</div>
				</div>
					</div>
				<div class="weui_dialog_confirm" id="qusFinish" style="display: none;">
					<div class="weui_mask1"></div>
					<div class="weui_dialog1">
						<div class="date_time_body">
						<span>现在是2016-02</span>
							<div class="line"></div>
						<ul>
							<li>2016-03</li>
							<li>2016-03</li>
							<li>2016-03</li>
							<li>2016-03</li>
							<li>2016-03</li>
							<li>2016-03</li>
						</ul>
							<input class="cancel weui_btn_plain_primary" type="button" value="取消"/><input class="cormin" type="button" value="确定"/>
						</div>
					</div>
				</div>
				<script src="js/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
				<script src="js/jquery-weui.js" type="text/javascript" charset="utf-8"></script>
				<script>
					$(".current").click(function () {
						$("#qusFinish").css("display","block");
					});
					$(".weui_mask1").click(function () {
						$("#qusFinish").css("display","none");
					})
				</script>

	</body>

</html>