<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>答题</title>
    <link rel="stylesheet" href="css/weui.css"/>
    <link rel="stylesheet" href="css/example.css"/>
    <link rel="stylesheet" href="css/zijin_teacher.css"/>
</head>

<body>
<!--学生-->
<div class="weui_cells weui_cells_access zijin_clelrt ">
    <div class="weui_cell">
        <div class="weui_cell_hd"><img src="images/touxiang.png" alt=""></div>
        <div class="weui_cell_bd weui_cell_primary">
            <p class="user_name">学生姓名</p>
            <p class="time">2016.03.30 19:00</p>
        </div>
        <div class="weui_cell_biaoti_homework">六年级 数学</div>
    </div>
    <p class="text">
        題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述</p>
    <div class="topic_tree">
            <ul>
                <li>
                    <div class="item" style="background-image: url(images/tili.png);"> 
                    </div>
                </li>
                <li>
                    <div class="item" style="background-image: url(images/tili.png);"> 
                    </div>
                </li>
                <li>
                    <div class="item" style="background-image: url(images/tili.png);">
                    </div>
                </li>
            </ul>
        </div>

</div>
<!--学生-->
<!--老师-->
<div class="weui_cells weui_cells_access zijin_clelrt">
    <div class="weui_cell">
        <div class="weui_cell_hd"><img src="images/touxiang.png" alt=""></div>
        <div class="weui_cell_bd weui_cell_primary">
            <p class="user_name">胡老师</p>
            <p class="time">2016.03.30 19:00</p>
        </div>
        <div class="weui_cell_biaoti_homework">六年级 数学</div>
    </div>
   <div class="topic_tree">
            <ul>
                <li>
                    <div class="item" style="background-image: url(images/tili.png);"> 
                    </div>
                </li>
            </ul>
        </div>

    <p class="texts">
        題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述</p>
    <div class="audio">
        <div class="audio_body">
            <img src="images/yuyin1.png" alt="">
            <p>8″</p>
            <i></i>
        </div>
    </div>
  <!--   <div class="topic">
        <img src="images/yuyin.png" alt=""/>
    </div> -->
    <!--追问-->
    <div class="weui_cells zijin_zhui">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd"><img src="images/zhuiwen.png" alt=""></div>
            <div class="weui_cell_bd weui_cell_primary ">
                <p>2016.03.29 17:35</p>
            </div>
        </a>
        <p class="texts">題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述題型文字描述</p>
    </div>
    <!--追问-->
</div>
<div class="weui_cells weui_cells_access zijin_clelrt zijin_zhui">
    <div class="weui_cell">
        <div class="weui_cell_hd"><img src="images/touxiang.png" alt=""></div>
        <div class="weui_cell_bd weui_cell_primary">
            <p class="user_name">胡老师</p>
            <p class="time">2016.03.30 19:00</p>
        </div>
    </div>
    <div class="topic_tree">
            <ul>
                <li>
                    <div class="item" style="background-image: url(images/tili.png);"> 
                    </div>
                </li>
            </ul>
        </div>
    <p class="text">題型文字描述題型文字描述題型文字描述題型文字描述</p>
    <div class="topic">
        <img src="images/yuyin.png" alt=""/>
    </div>
    <div class="weui_cells">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd"><img src="images/zhuiwen.png" alt=""></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>2016.03.29 17:35</p>
            </div>
        </a>
        <p class="texts">问题疑惑学生追问问题疑惑学生追问问题疑惑学生追问问题疑惑学生追问问题疑惑学生追问</p>
    </div>
</div>
<!--老师-->
<div class="zijin_footer">
    <div class="bd spacing zijin_spacing">
        <a href="answer1.html" class="weui_btn weui_btn_plain_primary">回复追问</a>
    </div>
</div>
</body>

</html>